<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aloo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_aloo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aloo">
        <activity
            android:name=".xulydangnhap.AddCallActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".xulydangnhap.AddFoodActivity"
            android:exported="true" />
        <activity
            android:name=".xulydangnhap.NhapMaActivity"
            android:exported="true" />
        <activity
            android:name=".xulydangnhap.HienMaActivity"
            android:exported="true" />
        <activity
            android:name=".xulydangnhap.CodeActivity"
            android:exported="true" />
        <activity
            android:name=".xulydangnhap.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xulydangnhap.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".xulydangnhap.LoginActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".CallActivity"
            android:exported="true" />
        <activity
            android:name=".MonanActivity"
            android:exported="true"
            android:theme="@style/Theme.Aloo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Aloo" >

        </activity>

        <service
            android:name=".Notification.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>